.revealed-properties {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
  grid-auto-rows: min-content;
  margin: 0 auto;

  &.has-prime {
    grid-template-columns: repeat(6, auto);
  }

  .guess-list {
    display: contents;
  }

  h2 {
    grid-column: 1 / -1;
    text-align: center;
  }

  .correct-result {
    grid-column: 3 / -1;
  }

  .matching {
    color: lime;
    font-weight: bold;
  }

  .not-matching {
    color: red;
    text-decoration: line-through;
  }

  .match-unknown {
    color: #aaa;
  }

  .table-row {
    display: contents;

    > div {
      text-align: left;
      max-width: 240px;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }

      &.secret {
        font-weight: bold;
        color: cyan;
        padding-right: 1rem;
      }
    }
  }

  .not-matching-subtle {
    color: #aaa;
    text-decoration: line-through;
  }
}

body.win {
  .table-row > div.secret {
    color: lime;
    animation: scaleJump 1s;
    animation-delay: 0.5s;
  }
}
