.cheat-sheet {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 1rem;
  grid-auto-rows: min-content;
  margin: 1rem auto;

  .filter-btn {
    grid-column: 1 / -1;
  }

  .cheat-sheet-entry {
    display: contents;

    div {
      white-space: nowrap;
      text-align: left;
    }
  }
}

.filter-off-text {
  display: none;
}

body.filter-on {
  .cheat-sheet-entry {
    &.not-possible {
      display: none;
    }
  }

  .filter-on-text {
    display: none;
  }

  .filter-off-text {
    display: inline-block;
  }
}
