.guess-list {
  max-width: 50rem;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-auto-rows: min-content;
  gap: 2rem;
  align-items: center;

  .guess-list-entry {
    display: contents;

    > div {
      white-space: nowrap;

      &:first-child {
        color: #aaa;
      }

      &:nth-child(2) {
        font-weight: bold;
        font-size: 1.5em;
      }

      &:last-child {
        text-align: left;
      }
    }
  }
}
