@import "theme";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;

  @media (min-width: 375px) {
    font-size: 16px;
  }

  @media (min-width: 480px) {
    font-size: 20px;
  }

  @media (min-width: 600px) {
    font-size: 24px;
  }
}

body {
  background: #09162a;
  color: white;
  font-family: $font-family;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  hyphens: auto;
  overflow: hidden;
}

.main-container {
  text-align: center;
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

header {
  display: grid;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.1rem 1.5rem;
  width: 100%;
  font-family: cursive;

  h1 {
    font-size: 1.3rem;
    margin: 0;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 0 1rem;
  padding: 0 1rem;
  margin: -0.5rem 0;

  .btn-container {
    padding: 0;
  }

  .possible-number-container {
    display: flex;
    gap: 1rem;
    font-style: italic;
    font-size: 0.7em;
    align-items: center;
  }
}

.number-input,
.submit-btn,
.guess-list {
  width: 90vw;
  max-width: 500px;
}

.guess-list {
  max-width: 600px;
}

.submit-btn {
  font-size: 0.8em;
}

.cheat-sheet-btn {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;

  .cheat-lock {
    margin-left: 0.5rem;
    display: inline-block;
    color: red;
  }

  &.unlocked {
    .cheat-lock {
      display: none;
    }
  }
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  width: 100%;
  background: #152134;
  border: 1px solid #213345;
  color: white;
  text-align: center;
  border-radius: 4px;

  &::placeholder {
    font-size: 0.7em;
    color: #96a6b6;
    font-style: italic;
  }

  &:focus-within {
    outline: none;
    border-color: cyan;
  }
}

button,
label {
  font-family: $font-family;
  cursor: pointer;
  color: white;
  border: 1px solid rgba(white, 0.1);
  background-color: rgba(white, 0.06);
  padding: 1rem 2rem;
  border-radius: $border-radius;

  @include hover {
    background-color: rgba(white, 0.1);
  }

  &.primary-btn {
    border: 1px solid $main-color;
    background-color: rgba($main-color, 0.1);

    @include hover {
      background-color: rgba($main-color, 0.2);
    }
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
}

%no-bg-btn {
  background: none;
  border: none;

  @include hover {
    background: none;
  }
}

button.icon-btn {
  @extend %no-bg-btn;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #ccc;
  transform: scale(1);
  transition: transform 0.3s;

  @include hover {
    transform: scale(1.2);
  }
}

.config-container {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 1.5rem;
  padding: 2rem;
  button {
    font-size: 1.5em;
  }
}

.revealed-properties {
  margin-bottom: 2rem;
}

.rules-text {
  max-width: 650px;
  margin: 1rem auto;
  padding: 0 1rem;
  text-align: left;

  strong {
    color: cyan;
  }
}

body:not(.has-stars) .results-btn {
  display: none;
}
